.common {
  margin-bottom: 10px;
  border: 2px solid gray;
  box-shadow: 0px 3px 5px blue;
}

.title {
  font-size: 20px;
  background-color: pink;
}

.main {
  background-color: skyblue;
  border-radius: 15px;
  box-shadow: 1px 1px 3px #000;
}